In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import pandas as pd
import numpy as np
from tensorflow import keras
import matplotlib.pyplot as plt

# Red neuronal secuencial
from tensorflow.keras.models import Sequential
# Capa completamente conectada
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense, Conv2D
# Optimizador
from tensorflow.keras.optimizers import Adam

In [4]:
registros = 10000
a = np.random.randint(0, 10, registros)
b = np.random.randint(0, 10, registros)
c = a * 2 + b

In [5]:
data = pd.DataFrame({'a': a, 'b': b, 'c': c})

In [10]:
data.head(10)

   a  b   c
0  6  1  13
1  7  4  18
2  0  7   7
3  6  7  19
4  9  9  27
5  1  6   8
6  9  6  24
7  9  5  23
8  9  7  25
9  1  8  10

In [6]:
X = data[['a', 'b']]
y = data[['c']]

In [11]:
X.head()

   a  b
0  6  1
1  7  4
2  0  7
3  6  7
4  9  9

In [7]:
# Crear red neuronal 
nn = Sequential([
    layers.Input(2),
    layers.Dense(8, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1, activation='relu')
])

2022-09-03 12:52:19.004325: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [8]:
nn.compile(
    loss='mean_absolute_error', # funcion de error
    optimizer=Adam(0.001)       # optimizador
)

In [9]:
history = nn.fit(
    X,
    y,
    validation_split=0.2,
    verbose=1,
    epochs=10
)

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 7.0003 - val_loss: 0.5323
Epoch 2/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3063 - val_loss: 0.1742
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.0781 - val_loss: 0.0383
Epoch 4/10
250/250 [==============================] - 0s 1ms/step - loss: 0.0265 - val_loss: 0.0338
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.0165 - val_loss: 0.0066
Epoch 6/10
250/250 [==============================] - 1s 2ms/step - loss: 0.0105 - val_loss: 0.0243
Epoch 7/10
250/250 [==============================] - 1s 2ms/step - loss: 0.0147 - val_loss: 0.0055
Epoch 8/10
250/250 [==============================] - 1s 2ms/step - loss: 0.0119 - val_loss: 0.0022
Epoch 9/10
250/250 [==============================] - 1s 3ms/step - loss: 0.0142 - val_loss: 0.0126
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.0107 - val_loss: 0.0161

In [12]:
prediccion = nn.predict(np.array([[4, 3]]))
print(prediccion)

1/1 [==============================] - 0s 43ms/step
[[10.987596]]

In [13]:
nn.save('regresion.h5')